.sample-body{
    display: flex;
    justify-content: left;
    align-items: left;
}

.container{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-wrap: wrap;
}

.container .card{
    position: relative;
    display: flex;
}

.container .card .imgBx{
    flex: 0 0 150px;
}

.container .card .imgBx img{
    max-width: 100%;
}

.container .card .content{
    margin-left: 20px;
}

@media(max-width:991px){
    .container{
        flex-direction: column;
    }
    .container .card{
        flex-direction: column;
    }
    .container .card .imgBx{
        max-width: 100%;
    }
    .container .card .content{
        margin-left: 20px;
    }
}